{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
  <div id="profile-page">
    <h2>{{user.username}}</h2>
    <h4 id="follower-count">Followers: {{followers.count}}</h4>
    {% for follower in followers %}
    <p>{{follower.username}}</p>
    {% endfor %}
    {% if not user == request.user and request.user.is_authenticated %}
    <button id="follow-btn" class="btn btn-primary" data-user='{{user.id}}' data-followed="{% if not is_following %}false{% else %}true{% endif %}">{% if not is_following %}Follow{% else %}Unfollow{% endif %}</button>
    {% endif %}
    {% csrf_token %}
    {% if not request.user.is_authenticated %}
    <h5><a href="{% url 'login' %}">Sign in </a>to follow this user</h5>
    {% endif %}

    {% for post in user_posts %}
      <div class="post" data-index="{{post.index}}">
        <div class="post-profile">
            <img src="{% static 'images/profile-placeholder.jpg' %}" width="50px" height="50px" alt="profile-pic"/>
        </div>
        <div class="post-content">
            <h5><a href="{% url 'profile-page'  post.post.user.id %}" >{{ post.post.user }}</a></h5>
            <p>{{ post.post.content }}</p>
            <p><small>{{ post.post.timestamp }}</small></p>
            <p id="like_count_{{post.post.id}}">{{ post.post.likes.all.count }} likes</p>             
            <button id="like_button_{{post.post.id}}" name="post_id" value="{{post.post.id}}" class="like_button btn btn-success" data-liked="{% if post.post.id in user_likes %}true{% else %}false{% endif %}" onclick="toggleLike({{post.post.id}})">{% if not post.post.id in user_likes %}Like{% else %}Unlike{% endif %}</button>        
        </div>
      </div>
    {% endfor %}
    <div class="side-by-side">
      <button id="back-btn" class="btn btn-primary">Back</button>
      <button id="next-btn" class="btn btn-primary">Next</button>
    </div>
  </div>

{% endblock %}